version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongodb_gestion
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db 

  api:
    build: .
    container_name: api_gestion_grupos
    ports:
      - "3000:3000"
    depends_on:
      - mongo

volumes:
  mongo_data: